//Add css here (To learn the advantages of sass visit here https://www.w3schools.com/sass/)
.header1 {
    h1 {
        background-color: lightgray;
        padding: 30px;
        text-align: center;
    }
}